webhook/workflow.json
{
  "name": "Customer Support Triage & Routing",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "support-triage",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "📨 問い合わせ受信",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -200,
        0
      ],
      "webhookId": "support-triage-webhook"
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst b = d.body || {};\nreturn [{\n  json: {\n    from: b.from || d.from || 'unknown@example.com',\n    subject: b.subject || d.subject || '件名なし',\n    body: b.body || d.body_text || ''\n  }\n}];"
      },
      "id": "set-inquiry",
      "name": "📝 データ整形",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        60,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"claude-haiku-4-5\",\"max_tokens\":512,\"messages\":[{\"role\":\"user\",\"content\":\"以下の問い合わせを分析しJSON形式のみで回答。\\n差出人:{{ $json.from }}\\n件名:{{ $json.subject }}\\n本文:{{ $json.body }}\\n\\n{\\\"category\\\":\\\"返金・請求\\\"|\\\"技術サポート\\\"|\\\"契約・解約\\\"|\\\"その他\\\",\\\"priority\\\":\\\"HIGH\\\"|\\\"MEDIUM\\\"|\\\"LOW\\\",\\\"team\\\":\\\"担当チーム名\\\",\\\"reason\\\":\\\"分類理由\\\"}\\nJSONのみ出力\"}]}",
        "options": {}
      },
      "id": "claude-classify",
      "name": "🤖 AI分類",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        320,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const r = $input.first().json;\nlet text = r.content[0].text.trim();\n\n// コードブロック除去\ntext = text.replace(/```json\\s*/gi, '').replace(/```\\s*/g, '').trim();\n\nlet c;\ntry {\n  c = JSON.parse(text);\n} catch(e) {\n  c = {category:'その他', priority:'MEDIUM', team:'一般サポート', reason:'分類失敗: ' + text.substring(0,50)};\n}\n\nconst base = $('📝 データ整形').first().json;\nreturn [{json:{...base, ...c}}];"
      },
      "id": "parse-classification",
      "name": "🔍 分類パース",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        580,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"claude-haiku-4-5\",\"max_tokens\":1024,\"messages\":[{\"role\":\"user\",\"content\":\"以下の問い合わせへの返信下書きを日本語で作成してください。\\n差出人:{{ $json.from }}\\n件名:{{ $json.subject }}\\n本文:{{ $json.body }}\\nカテゴリ:{{ $json.category }}\\n優先度:{{ $json.priority }}\\n返信文のみ出力してください。\"}]}",
        "options": {}
      },
      "id": "claude-draft",
      "name": "✍️ 下書き生成",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        840,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const prev = $input.first().json;\nconst draft = prev.content?.[0]?.text ?? '（生成失敗）';\nconst base = $('🔍 分類パース').first().json;\nconst slack_text = [\n  '新しい問い合わせ',\n  '差出人: ' + base.from,\n  '件名: ' + base.subject,\n  'カテゴリ: ' + base.category,\n  '優先度: ' + base.priority,\n  '担当: ' + base.team,\n  '理由: ' + base.reason,\n  '',\n  '返信下書き:',\n  draft.substring(0, 400)\n].join('\\n');\nreturn [{json:{...base, draft_reply:draft, slack_text:slack_text}}];"
      },
      "id": "merge-draft",
      "name": "📋 マージ＆Slack準備",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.slack_text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "slack-notify",
      "name": "📣 Slack通知",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1360,
        0
      ]
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {
          "webhookSuffix": "approval"
        }
      },
      "id": "wait-approval",
      "name": "⏸️ 承認待ち",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1620,
        0
      ],
      "webhookId": "approval-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.body.action }}",
              "rightValue": "approve",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-approved",
      "name": "✅ 承認チェック",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1880,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\":\"approved\",\"category\":\"{{ $('📋 マージ＆Slack準備').first().json.category }}\",\"priority\":\"{{ $('📋 マージ＆Slack準備').first().json.priority }}\"}",
        "options": {}
      },
      "id": "respond-approved",
      "name": "✅ 承認レスポンス",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2140,
        -100
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\":\"skipped\"}",
        "options": {}
      },
      "id": "respond-skipped",
      "name": "❌ スキップ",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2140,
        100
      ]
    }
  ],
  "connections": {
    "📨 問い合わせ受信": {
      "main": [
        [
          {
            "node": "📝 データ整形",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 データ整形": {
      "main": [
        [
          {
            "node": "🤖 AI分類",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 AI分類": {
      "main": [
        [
          {
            "node": "🔍 分類パース",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 分類パース": {
      "main": [
        [
          {
            "node": "✍️ 下書き生成",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✍️ 下書き生成": {
      "main": [
        [
          {
            "node": "📋 マージ＆Slack準備",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 マージ＆Slack準備": {
      "main": [
        [
          {
            "node": "📣 Slack通知",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📣 Slack通知": {
      "main": [
        [
          {
            "node": "⏸️ 承認待ち",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏸️ 承認待ち": {
      "main": [
        [
          {
            "node": "✅ 承認チェック",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ 承認チェック": {
      "main": [
        [
          {
            "node": "✅ 承認レスポンス",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❌ スキップ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all"
  },
  "meta": {
    "instanceId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
  },
  "versionId": "d4e5f6a7-b8c9-0123-def4-567890abcdef",
  "tags": []
}